.percentage {
  margin-top: 150px;
  margin-bottom: 8px;
  font-size: var(--font-sm);
  color: var(--color-foreground-subtle);

  & .number {
    font-family: var(--font-mono);
    color: var(--color-foreground);
  }

  & .star {
    color: var(--color-foreground);
  }
}

.progressbar {
  width: 100%;

  & .wrapper {
    width: 100%;
    height: 2px;
    background-color: var(--color-neutral-200);

    & .progress {
      height: 2px;
      background-color: var(--color-neutral-950);
    }
  }
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  font-family: var(--font-mono);
  font-size: var(--font-xsm);
  color: var(--color-foreground-subtler);

  & span {
    font-weight: 700;
    color: var(--color-foreground-subtle);
  }
}

.assume {
  margin-top: 16px;
  font-size: var(--font-sm);
  color: var(--color-foreground-subtler);

  & span {
    color: var(--color-foreground);
  }
}
